__pycache__
manga/logs/*
!manga/logs/.gitkeep
manga/models/*
!manga/models/.gitkeep
manga/results/*
!manga/results/.gitkeep
manga/samples/*
!manga/samples/.gitkeep
data/Manga/train/Anime/*
!data/Manga/train/Anime/1.png
data/Manga/train/kaokore/*
!data/Manga/train/kaokore/00000000.jpg
